@model BanHang_Web.Models.ViewModel.IndexViewModel
@{
    ViewData["Title"] = "Home";
}

@section Styles {
    <link href="~/lib/OwlCarousel2-2.2.1/owl.carousel.css" rel="stylesheet" />
    <link href="~/lib/OwlCarousel2-2.2.1/owl.theme.default.css" rel="stylesheet" />
    <link href="~/lib/OwlCarousel2-2.2.1/animate.css" rel="stylesheet" />
    <link href="~/lib/slick-1.8.0/slick.css" rel="stylesheet" />
    <link href="~/css/main_styles.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
}
<!-- Banner -->

<div class="banner">
    <div class="banner_background">
        <img src="~/image/banner_background.jpg" />
    </div>
    <div class="container fill_height">
        <div class="row fill_height">
            <div class="banner_product_image">
                <img src="~/image/banner_product.png" />
            </div>
            <div class="col-lg-5 offset-lg-4 fill_height">
                <div class="banner_content">
                    <h1 class="banner_text">new era of smartphones</h1>
                    <div class="banner_price"><span>$530</span>$460</div>
                    <div class="banner_product_name">Apple Iphone 6s</div>
                    <div class="button banner_button"><a href="#">Shop Now</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Hot New Arrivals -->

<div class="new_arrivals">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="tabbed_container">
                    <div class="tabs clearfix tabs-right">
                        <div class="new_arrivals_title">Sản phẩm</div>
                        <ul class="clearfix">
                            @for (int i = 0; i < Model.Catalogs.Count; i++)
                            {
                                string active = "";
                                if (i == 0)
                                {
                                    active = "class:\"active\"";
                                }
                                <li @active>@Model.Catalogs[i].Name</li>
                            }
                        </ul>
                        <div class="tabs_line"><span></span></div>
                    </div>
                    <div class="row">
                        <div class="col" style="z-index:1;">

                            <!-- Product Panel -->
                            @for (int i = 0; i < Model.Catalogs.Count; i++)
                            {
                                string active = "";
                                if (i == 0)
                                {
                                    active = "active";
                                }
                                <div class="product_panel panel @active">
                                    <div class="arrivals_slider slider">

                                        <!-- Slider Item -->
                                        @foreach (Product product in Model.Catalogs[i].Products)
                                        {
                                            string imageBase64 = Convert.ToBase64String(product.Image);
                                            string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                            <div class="arrivals_slider_item">
                                                <div class="border_active"></div>
                                                <div class="product_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                                                    <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="@imageSrc" style="width:115px;height:115px;"></div>
                                                    <div class="product_content">
                                                        <div class="product_price">@String.Format("{0:c0}", product.Price)</div>
                                                        <div class="product_name"><div><a asp-controller="Product" asp-route-type="product" asp-route-id="@product.Id">@product.Name</a></div></div>
                                                        <div class="product_extras">
                                                            <button class="product_cart_button" cid="@product.Id">Thêm vào giỏ hàng</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                    <div class="arrivals_slider_dots_cover"></div>
                                </div>
                            }
                        </div>



                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Best Sellers -->

<div class="best_sellers">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="tabbed_container">
                    <div class="tabs clearfix tabs-right">
                        <div class="new_arrivals_title">Combo</div>
                        <ul class="clearfix">
                            <li></li>
                        </ul>
                        <div class="tabs_line"><span></span></div>
                    </div>

                    <div class="bestsellers_panel panel active">

                        <!-- Best Sellers Slider -->

                        <div class="bestsellers_slider slider">

                            <!-- Best Sellers Item -->
                            @foreach (Combo combo in Model.Combos)
                            {
                                string imageBase64 = Convert.ToBase64String(combo.Image);
                                string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                                <div class="bestsellers_item discount">
                                    <div class="bestsellers_item_container d-flex flex-row align-items-center justify-content-start">
                                        <div class="bestsellers_image"><img src="@imageSrc"></div>
                                        <div class="bestsellers_content">
                                            <div class="bestsellers_name"><a asp-controller="Product" asp-route-type="combo" asp-route-id="@combo.Id">@combo.Name</a></div>
                                            <div class="bestsellers_price discount">@String.Format("{0:c0}", combo.Price)<span>@String.Format("{0:c0}", combo.PrevPrice)</span></div>
                                        </div>
                                    </div>
                                    <ul class="bestsellers_marks">
                                        <li class="bestsellers_mark bestsellers_discount">@String.Format("-{0}%", combo.Discount)</li>
                                    </ul>
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/slick-1.8.0/slick.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/home.js"></script>
}
